---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---
{% include base_path %}

<div class="cv-section">
  <table class="cv-table">
    <tr class="cv-header">
      <th>Qualifications</th>
      <th>Positions</th>
    </tr>
    <tr>
      <td class="cv-left-column">
        <ul>
          {% for qualification in site.data.cv.qualifications %}
          <li>
            <strong>{{ qualification.degree }}</strong>, {{ qualification.university }}, {{ qualification.year }}
            {% if qualification.thesis_topic %}
            <ul>
              <li>Thesis topic: "{{ qualification.thesis_topic }}"</li>
              {% if qualification.supervisor %}
              <li>Supervised by {{ qualification.supervisor }}</li>
              {% endif %}
              {% if qualification.jointly_supervised %}
              <li>Supervised by {{ qualification.jointly_supervised }}</li>
              {% endif %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </td>
      <td class="cv-right-column">
        <ul>
          {% for position in site.data.cv.positions %}
          <li>
            <strong>{{ position.title }}</strong>, {{ position.organization }} 
            {% if position.period %}({{ position.period }}){% endif %}
            {% if position.roles %}
            <ul>
              {% for role in position.roles %}
              <li>{{ role.title }} 
                {% if role.period %}({{ role.period }}){% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</div>

<div class="cv-section">
  <table class="cv-table">
    <tr class="cv-header">
      <th>Awards</th>
      <th>Grants</th>
    </tr>
    <tr>
      <td class="cv-left-column">
        <ul>
          {% for award in site.data.cv.awards %}
          <li>
            {{ award.title }} ({{ award.year }})
            {% if award.description %}
            <ul>
              {% if award.description %}
              <li>{{ award.description }}</li>
              {% endif %}
              {% if award.details_link %}
              <li><a href="{{ award.details_link }}">details</a></li>
              {% endif %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </td>
      <td class="cv-right-column">
        <ul>
          {% for grant in site.data.cv.grants %}
          <li>
            {{ grant.title }}, {{ grant.amount }}, {{ grant.period }}
            {% if grant.description %}
            <ul>
              <li>{{ grant.description }}</li>
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</div>

<div class="cv-section">
  <table class="cv-table">
    <tr class="cv-header">
      <th colspan="2">Selected Community Contributions</th>
    </tr>
    <tr>
      <td colspan="2">
        <ul>
          {% for contribution in site.data.cv.contributions %}
          <li>
            {% if contribution.position %}{{ contribution.position }}, {% endif %}
            {% if contribution.link %}
            <a href="{{ contribution.link }}">{{ contribution.organization }}</a>
            {% else %}
            {{ contribution.organization }}
            {% endif %}
            {% if contribution.period %}({{ contribution.period }}){% endif %}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</div>

<style>
  .cv-section {
    margin-bottom: 2em;
  }
  
  .cv-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
  }
  
  .cv-header {
    background-color: #b8c5d6;
  }
  
  .cv-header th {
    padding: 10px;
    text-align: left;
    border: 1px solid #a0a0a0;
  }
  
  .cv-left-column, .cv-right-column {
    vertical-align: top;
    padding: 15px;
    border: 1px solid #a0a0a0;
  }
  
  .cv-table ul {
    margin: 0;
    padding-left: 20px;
  }
  
  .cv-table ul li {
    margin-bottom: 0.5em;
  }
  
  .cv-table ul li ul {
    margin-top: 0.3em;
  }
  
  .cv-table ul li ul li {
    margin-bottom: 0.2em;
  }
  
  @media screen and (max-width: 768px) {
    .cv-table, .cv-header, .cv-left-column, .cv-right-column {
      display: block;
      width: 100%;
    }
    
    .cv-header th {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    
    .cv-left-column, .cv-right-column {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
</style>