---
layout: archive
title: "Podcasts"
permalink: /podcasts/
author_profile: true
---

<table class="podcasts-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Episode</th>
      <th>Guest</th>
    </tr>
  </thead>
  <tbody>
    {% for podcast in site.data.podcasts.podcasts %}
    <tr>
      <td>{{ podcast.name }}</td>
      <td>{% if podcast.url %}<a href="{{ podcast.url }}">{{ podcast.episode }}</a>{% else %}{{ podcast.episode }}{% endif %}</td>
      <td>{{ podcast.guest }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>