---
layout: archive
title: "Podcasts"
permalink: /podcasts/
author_profile: true
---

<div class="podcasts-table">
  <div class="podcasts-header">
    <div class="podcasts-name">Name</div>
    <div class="podcasts-episode">Episode</div>
    <div class="podcasts-guest">Guest</div>
  </div>
  {% for item in site.data.podcasts.podcasts %}
    <div class="podcasts-row">
      <div class="podcasts-name">{{ item.name }}</div>
      <div class="podcasts-episode">{{ item.episode }}</div>
      <div class="podcasts-guest">{{ item.guest }}</div>
        {% if item.url %}
          <a href="{{ item.url }}" target="_blank">{{ item.episode }}</a>
        {% else %}
          {{ item.episode }}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
