---
layout: archive
title: "Podcasts"
permalink: /podcasts/
author_profile: true
---

<p> I have hosted podcast episodes for The Random Sample and Forecasting Impact podcasts. Many of these episodes I've hosted by myself. Others I have co-hosted with Anthony Mays, Tim Macuga and Mahdi Abolghasemi. </p>


<div class="podcasts-container">
  <div class="podcasts-header">
    <div class="podcasts-name">Series</div>
    <div class="podcasts-episode">Episode</div>
    <div class="podcasts-guest">Guests</div>
  </div>
  
  {% for podcast in site.data.podcasts.podcasts %}
  <div class="podcasts-row">
    <div class="podcasts-name">{{ podcast.name }}</div>
    <div class="podcasts-episode">
      {% if podcast.url %}
        <a href="{{ podcast.url }}">{{ podcast.episode }}</a>
      {% else %}
        {{ podcast.episode }}
      {% endif %}
    </div>
    <div class="podcasts-guest">{{ podcast.guest }}</div>
  </div>
  {% endfor %}
</div>