---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
{% include base_path %}

{% assign all_posts = site.publications | group_by: "year" | sort: "name" | reverse %}
{% for year_group in all_posts %}
  <h3>{{ year_group.name }}</h3>
  {% for post in year_group.items %}
    <div class="publication-entry" style="margin-bottom: 0.1em;">
      <div style="margin-bottom: 0.1em;">{{ post.content }}</div>
      {% if post.paperurl %}
        <div style="padding-left: 0em;"><a href="{{ post.paperurl }}">[PDF]</a></div>
      {% endif %}
    </div>
  {% endfor %}
{% endfor %}

