---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
{% include base_path %}
 
{% assign all_posts = site.publications | group_by: "year" | sort: "name" | reverse %}
{% for year_group in all_posts %}
  <h3>{{ year_group.name }}</h3>
  {% for post in year_group.items %}
    <div class="publication-entry" style="margin-bottom: 1em; line-height: 1.6; font-size: 0.9em;">
      <strong>{{ post.title }}</strong><br>
      {{ post.authors }}<br>
      {{ post.venue }}
      {% if post.paperurl %}
        <br><a href="{{ post.paperurl }}">[PDF]</a>
      {% endif %}
    </div>
  {% endfor %}
  <hr style="border: none; border-top: 1px solid #ccc; margin: 2em 0;">
{% endfor %}