---
layout: archive
title: "Talks and seminars"
permalink: /talks/
author_profile: true
---

<p>Some talks are available on YouTube on this <a href="https://www.youtube.com/playlist?list=PL4RZ73GfGaqVfSWh46rMozUFb-teHWBtS">playlist</a>.</p>


{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

<div class="talks-table">
  <div class="talks-header">
    <div class="talks-date">Date</div>
    <div class="talks-title">Title</div>
    <div class="talks-venue">Venue</div>
  </div>
  {% for talk in site.data.talks.talks %}
    <div class="talks-row">
      <div class="talks-date">{{ talk.date }}</div>
      <div class="talks-title">
        <a href="{{ talk.url }}" target="_blank">{{ talk.title }}</a>
      </div>
      <div class="talks-venue">{{ talk.venue }}</div>
    </div>
  {% endfor %}
</div>